hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
hibernate.connection.driver_class = org.postgresql.Driver
hibernate.connection.url = jdbc:postgresql://localhost:5432/dhis
hibernate.connection.username = dhis
hibernate.connection.password = {{dhis2_db_password}}
hibernate.hbm2ddl.auto = update
